.profile__edit-button {
  margin: 15px 0 0;
  padding: 0;
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: opacity 200ms linear;
}

.profile__edit-button:hover {
  opacity: 60%;
}

@media screen and (max-width: 767px) {
  .profile__edit-button {
    margin: 8px 0 0;
    width: 18px;
    height: 18px;
    background-size: 18px 18px;
  }
}
