.profile__avatar-container {
  position: relative;
}

.profile__avatar-container:hover {
  cursor: pointer;
}

.profile__avatar-container::before,
.profile__avatar-container::after {
  content: '';
  position: absolute;
}

.profile__avatar-container::before {
  border-radius: 100%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 200ms linear;
}

.profile__avatar-container::after {
  opacity: 0;
  transition: opacity 200ms linear;
}

.profile__avatar-container:hover::before {
  background-color: rgba(0, 0, 0, 0.8);
}

.profile__avatar-container:hover::after {
  opacity: 1;
  left: 50%;
  top: 50%;
  width: 26px;
  height: 26px;
  transform: translate(-50%, -50%);
  background-image: url('../../../images/profile/__avatar-edit.svg');
  background-size: 26px 26px;
}
