.popup__container {
  margin: 0;
  padding: 34px 36px;
  max-width: 430px;
  width: calc(100% - 38px);
  background-color: #fff;
  border-radius: 10px;
  box-sizing: border-box;
  position: relative;
}

@media screen and (max-width: 767px) {
  .popup__container {
    padding: 25px 22px;
  }
}
