.profile__add-button {
  margin: 0 0 0 auto;
  padding: 0;
  border: 2px solid #FFF;
  border-radius: 2px;
  background-color: transparent;
  background-image: url('../../../images/profile/__cross.svg');
  background-repeat: no-repeat;
  background-size: 22px 22px;
  background-position: center;
  max-width: 150px;
  width: 100%;
  height: 50px;
  cursor: pointer;
  transition: opacity 200ms linear;
}

.profile__add-button:hover {
  opacity: 60%;
}

@media screen and (max-width: 767px) {
  .profile__add-button {
    margin: 36px auto 0;
    max-width: 282px;
  }
}
